@charset "utf-8";

body {
  margin: 0;
}

section {
  margin: 0;
  padding: 0;
  height: 800px;
}
section h1 {
  padding: 160px;
  text-align: center;
  font-size: 40px;
  color:  brown;
}